div.fca_eoi_layout_field_inner {
	margin: 0 30px 0 15px;
}

div.fca_eoi_layout_field_wrapper i.fa {
	position: absolute;
	top: 0;
	right: 10px;
	height: 50%;
	width: auto;
	transform: translateY(50%);
	-webkit-transform: translateY(50%);
}
