div.fca_eoi_layout_field_inner {
	margin: 0 15px 0 30px;
}

div.fca_eoi_layout_field_wrapper i.fa {
	position: absolute;
	top: 0;
	left: 10px;
	height: 50%;
	width: auto;
	transform: translateY(50%);
	-webkit-transform: translateY(50%);
}
