@import "layouts/common/style/outer.scss";

div.fca_eoi_layout_1,
form.fca_eoi_layout_1 {
	@import "layouts/common/style/inner.scss";

	div.fca_eoi_layout_headline_copy_wrapper {
		margin-bottom: round( $content_large_padding / 2 );
	}

	div.fca_eoi_layout_inputs_wrapper {
		@include fca_eoi_layout_inputs_wrapper( true );
	}

	@import "layouts/common/style/icons_left.scss";

	div.fca_eoi_layout_submit_button_wrapper {
		input, input:hover {
			border: solid 1px transparent !important;
			border-radius: 3px;
			box-shadow: 0 1px 1px rgba( 255, 255, 255, .9 ) inset;
			font-weight: bold;
			margin: 0;
			min-height: 36px;
			width: 100%;
			white-space: normal;
			background: none;
			background: -moz-linear-gradient( top, rgba( 255, 255, 255, 0.35 ) 0%, rgba( 255, 255, 255, 0.45 ) 48%, rgba( 255, 255, 255, 0 ) 52%, rgba( 255, 255, 255, 0 ) 100% );
			background: -webkit-gradient( linear, left top, left bottom, color-stop( 0%, rgba( 255, 255, 255, 0.35 ) ), color-stop( 48%, rgba( 255, 255, 255, 0.45 ) ), color-stop( 52%, rgba( 255, 255, 255, 0 ) ), color-stop( 100%, rgba( 255, 255, 255, 0 ) ) );
			background: -webkit-linear-gradient( top, rgba( 255, 255, 255, 0.35 ) 0%, rgba( 255, 255, 255, 0.45 ) 48%, rgba( 255, 255, 255, 0 ) 52%, rgba( 255, 255, 255, 0 ) 100% );
			background: -o-linear-gradient( top, rgba( 255, 255, 255, 0.35 ) 0%, rgba( 255, 255, 255, 0.45 ) 48%, rgba( 255, 255, 255, 0 ) 52%, rgba( 255, 255, 255, 0 ) 100% );
			background: -ms-linear-gradient( top, rgba( 255, 255, 255, 0.35 ) 0%, rgba( 255, 255, 255, 0.45 ) 48%, rgba( 255, 255, 255, 0 ) 52%, rgba( 255, 255, 255, 0 ) 100% );
			background: linear-gradient( to bottom, rgba( 255, 255, 255, 0.35 ) 0%, rgba( 255, 255, 255, 0.45 ) 48%, rgba( 255, 255, 255, 0 ) 52%, rgba( 255, 255, 255, 0 ) 100% );
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#59ffffff', endColorstr='#00ffffff', GradientType=0 );
		}
	}

	@media ( min-width: 1px ) and ( max-width: $content_small_breakpoint ),
	       ( min-height: 1px ) and ( max-height: $content_small_breakpoint ) {
		div.fca_eoi_layout_headline_copy_wrapper {
			margin-bottom: 0;
		}
	}
}
