{{#headline_copy}}
<div class="fca_eoi_layout_headline_copy_wrapper fca_eoi_form_text_element">
  {{{headline_copy}}}
</div>
{{/headline_copy}}

{{#description_copy}}
<div class="fca_eoi_layout_description_copy_wrapper fca_eoi_form_text_element">
  {{{description_copy}}}
</div>
{{/description_copy}}

<div class="fca_eoi_layout_inputs_wrapper {{^show_name_field}}fca_eoi_layout_inputs_wrapper_no_name{{/show_name_field}}">
  {{#show_name_field}}
  <div class="fca_eoi_layout_name_field_wrapper fca_eoi_layout_field_wrapper" data-fca-eoi-fieldset-id="name_field">
    <i class="fa fa-user"></i>
    <div class="fca_eoi_layout_name_field_inner fca_eoi_layout_field_inner">
      {{{name_field}}}
    </div>
  </div>
  {{/show_name_field}}

  <div class="fca_eoi_layout_email_field_wrapper fca_eoi_layout_field_wrapper" data-fca-eoi-fieldset-id="email_field">
    <i class="fa fa-envelope"></i>
    <div class="fca_eoi_layout_email_field_inner fca_eoi_layout_field_inner">
      {{{email_field}}}
    </div>
  </div>
  <div class="fca_eoi_layout_submit_button_wrapper">{{{submit_button}}}</div>
</div>

{{#privacy_copy}}
<div class="fca_eoi_layout_privacy_copy_wrapper fca_eoi_form_text_element" data-fca-eoi-fieldset-id="privacy">
  {{{privacy_copy}}}
</div>
{{/privacy_copy}}

{{{fatcatapps_link}}}
